img{
    width: 500px;
    height: 300px;
    padding: 5px;
    background-color:crimson;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
}
.image{
    width: 300px; 
    height: 300px;
}
div{
    background-color:cadetblue;
    width: 500px;
    display: flex;
    padding: 20px;
}
h2{
    color: black;
    font-style:italic;
}
*{
    background-color:rgb(219, 240, 238);
}